<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление товара в корзину</title>
</head>
<body>
    <h1>Добавление товара</h1>
<form th:method="POST" th:action="@{/product/add/in/cart}" th:object="${cart}">
    <label for="name">Наименование: </label>
    <input type="text" th:field="*{name}" id="name">
    <label for="price">Цена за 1 шт: </label>
    <input type="text" th:field="*{price}" id="price">
    <label for="quantity">Количество: </label>
    <input type="text" th:field="*{quantity}" id="quantity" min="1">
    <button type="submit">Сохранить</button>
</form>
</body>
</html>